* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #9d27f2;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.b1 {
    background: linear-gradient(to right, #6719ed, #3e7df3);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    transition: background 0.3s;
}

.b1:hover {
    background: linear-gradient(to right, #af5fec, #bc07fe);
}

/* Ocultar el input de archivo original */
.file-input {
    display: none;
}

#message {
    display: none; /* Ocultar por defecto */
    background-color: #f0f0f0;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 5s ease-in-out;
}

#message.show {
    display: block;
    opacity: 1;
}

.image-container {
    display: flex;
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura */
    width: 100%; /* Asegura que el ancho también sea completo */
    position: relative;
    margin: 0; /* Elimina márgenes */
}

.vertical {
    width: 50%; /* Ocupa la mitad del ancho de la pantalla */
    height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    margin: 0; /* Elimina márgenes */
}

.horizontal {
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}

.thumbnail {
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción de las imágenes */
    margin: 5px; /* Espacio entre las miniaturas */
    display: inline-block; /* Asegura que se alineen en fila */
}

/* Estilo para el cuadro flotante de eliminar archivos */
.floating-box {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white;
    border: 1px solid #9d27f2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.floating-box h2 {
    margin: 0;
    color: #9d27f2;
}

.floating-box button {
    background-color: #6719ed;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.floating-box button:hover {
    background-color: #3e7df3;
}
